
@font-face {
	font-family: 'font-icons';
	font-style: normal;
	font-weight: 400;
	src: url('./font-icons.woff2') format('woff2')
}

@font-face {
	font-family: 'lined-icons';
	font-style: normal;
	font-weight: 400;
	src: url('./lined-icons.woff2') format('woff2')
}

@font-face {
	font-family: 'simple-line-icons';
	font-style: normal;
	font-weight: 400;
	src: url('./Simple-Line-Icons.woff2') format('woff2')
}

/* KyungGi1000YearTitle(Sans)--------------------------------------------------------------------------------*/
@font-face {
    font-family: 'KyungGi1000YearTitle';
    font-style: normal;
    font-weight: 200;
    src: url('./KyungGi1000YearTitle_Light.woff') format('woff')
}

@font-face {
    font-family: 'KyungGi1000YearTitle';
    font-style: normal;
    font-weight: 400;
    src: local(KyungGi1000YearTitle), url('./KyungGi1000YearTitle_Medium.woff') format('woff')
}

@font-face {
    font-family: 'KyungGi1000YearTitle';
    font-style: normal;
    font-weight: 700;
    src: url('./KyungGi1000YearTitle_Bold.woff') format('woff')
}

@font-face {
    font-family: 'Black Gothic';
    font-style: normal;
    font-weight: 700;
    src: url('./BlackHanSans-Regular.woff2') format('woff2')
}

/* KyungGi1000YearBatang(Sans Serif)--------------------------------------------------------------------------------*/
@font-face {
    font-family: 'KyungGi1000YearBatang';
    font-style: normal;
    font-weight: 400;
    src: url('./KyungGi1000YearBatang_Regular.woff') format('woff')
}

@font-face {
    font-family: 'KyungGi1000YearBatang';
    font-style: normal;
    font-weight: 700;
    src: url('./KyungGi1000YearBatang_Bold.woff') format('woff')
}


/* 고딕 A1(Sans)--------------------------------------------------------------------------------*/
/*https://fonts.google.com/specimen/Gothic+A1?subset=korean*/
@font-face {
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 100;
    src: url('./GothicA1-Thin.woff2') format('woff2')
}

@font-face {
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 200;
    src: url('./GothicA1-ExtraLight.woff2') format('woff2')
}

@font-face {
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 300;
    src: url('./GothicA1-Light.woff2') format('woff2')
}

@font-face {
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    src: url('./GothicA1-Regular.woff2') format('woff2')
}

@font-face {
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 500;
    src: url('./GothicA1-Medium.woff2') format('woff2')
}

@font-face {
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 600;
    src: url('./GothicA1-SemiBold.woff2') format('woff2')
}

@font-face {
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 700;
    src: url('./GothicA1-Bold.woff2') format('woff2')
}

@font-face {
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 800;
    src: url('./GothicA1-ExtraBold.woff2') format('woff2')
}

@font-face {
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 900;
    src: url('./GothicA1-Black.woff2') format('woff2')
}


/* Rubik --------------------------------------------------------------------------------*/
/*https://fonts.google.com/specimen/Rubik*/
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    src: url('./Rubik-Light.woff2') format('woff2')
}

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: url('./Rubik-Regular.woff2') format('woff2')
}

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    src: url('./Rubik-Medium.woff2') format('woff2')
}

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    src: url('./Rubik-SemiBold.woff2') format('woff2')
}

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    src: url('./Rubik-Bold.woff2') format('woff2')
}

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 800;
    src: url('./Rubik-ExtraBold.woff2') format('woff2')
}

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 900;
    src: url('./Rubik-Black.woff2') format('woff2')
}


/*나눔 고딕---------------------------------------------------------------------------------------*/
@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 200;
    src: url('./NanumBarunGothicUltraLightSubset.woff2') format('woff2')
}

@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 300;
    src: url('./NanumBarunGothicLightSubset.woff2') format('woff2')
}

@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('./NanumGothic-Regular.woff2') format('woff2')
}

@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 700;
    src: url('./NanumGothic-Bold.woff2') format('woff2')
}

@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 800;
    src: url('./NanumGothic-ExtraBold.woff2') format('woff2')
}


@font-face {
    font-family: 'Leferi';
    font-style: normal;
    font-weight: 300;
    src: url('./LeferiPointWhite.woff2') format('woff2')
}

@font-face {
    font-family: 'Leferi';
    font-style: normal;
    font-weight: 400;
    src: url('./LeferiBaseRegular.woff2') format('woff2')
}

@font-face {
    font-family: 'Leferi';
    font-style: normal;
    font-weight: 700;
    src: url('./LeferiBaseBold.woff2') format('woff2')
}

@font-face {
    font-family: 'Leferi';
    font-style: normal;
    font-weight: 900;
    src: url('./LeferiPointBlack.woff2') format('woff2')
}

/*나눔 명조---------------------------------------------------------------------------------------*/
/*https://fonts.google.com/specimen/Nanum+Myeongjo?subset=korean*/
@font-face {
    font-family: 'NanumMyungJo';
    font-style: normal;
    font-weight: 400;
    src: url('./NanumMyeongjo-Regular.woff2') format('woff2')
}

@font-face {
    font-family: 'NanumMyungJo';
    font-style: normal;
    font-weight: 700;
    src: url('./NanumMyeongjo-Bold.woff2') format('woff2')
}

@font-face {
    font-family: 'NanumMyungJo';
    font-style: normal;
    font-weight: 800;
    src: url('./NanumMyeongjo-ExtraBold.woff2') format('woff2')
}

/* 노토 고딕(Sans)-------------------------------------------------------------------------------- 5*/
/*https://fonts.google.com/specimen/Noto+Sans+KR?subset=korean*/
/*@font-face {*/
/*    font-family: 'Noto Sans KR';*/
/*    font-style: normal;*/
/*    font-weight: 100;*/
/*    src: url('./NotoSansKRThin.woff2') format('woff2')*/
/*}*/

/*@font-face {*/
/*    font-family: 'Noto Sans KR';*/
/*    font-style: normal;*/
/*    font-weight: 300;*/
/*    src: url('./NotoSansKRLight.woff2') format('woff2');*/
/*}*/

/*@font-face {*/
/*    font-family: 'Noto Sans KR';*/
/*    font-style: normal;*/
/*    font-weight: 400;*/
/*    src: url('./NotoSansKRRegular.woff2') format('woff2');*/
/*}*/

/*@font-face {*/
/*    font-family: 'Noto Sans KR';*/
/*    font-style: normal;*/
/*    font-weight: 500;*/
/*    src: url('./NotoSansKRMedium.woff2') format('woff2');*/
/*}*/

/*@font-face {*/
/*    font-family: 'Noto Sans KR';*/
/*    font-style: normal;*/
/*    font-weight: 700;*/
/*    src: url('./NotoSansKRBold.woff2') format('woff2');*/
/*}*/

/*@font-face {*/
/*    font-family: 'Noto Sans KR';*/
/*    font-style: normal;*/
/*    font-weight: 900;*/
/*    src: url('./NotoSansKRBlack.woff2') format('woff2');*/
/*}*/

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 100;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 900;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');
}

/* 노토 명조(Serif)-------------------------------------------------------------------------------- 6*/
/*https://fonts.google.com/specimen/Noto+Serif+KR?subset=korean*/
@font-face {
    font-family: 'Noto Serif KR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NotoSerifKR.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*@font-face {*/
/*    font-family: 'Noto Serif KR';*/
/*    font-style: normal;*/
/*    font-weight: 200;*/
/*    src: url('./NotoSerifKRExtraLight.woff2') format('woff2')*/
/*}*/

/*@font-face {*/
/*    font-family: 'Noto Serif KR';*/
/*    font-style: normal;*/
/*    font-weight: 300;*/
/*    src: url('./NotoSerifKRLight.woff2') format('woff2')*/
/*}*/

/*@font-face {*/
/*    font-family: 'Noto Serif KR';*/
/*    font-style: normal;*/
/*    font-weight: 400;*/
/*    src: url('./NotoSerifKRRegular.woff2') format('woff2')*/
/*}*/

/*@font-face {*/
/*    font-family: 'Noto Serif KR';*/
/*    font-style: normal;*/
/*    font-weight: 500;*/
/*    src: url('./NotoSerifKRMedium.woff2') format('woff2')*/
/*}*/

/*@font-face {*/
/*    font-family: 'Noto Serif KR';*/
/*    font-style: normal;*/
/*    font-weight: 600;*/
/*    src: url('./NotoSerifKRSemiBold.woff2') format('woff2')*/
/*}*/

/*@font-face {*/
/*    font-family: 'Noto Serif KR';*/
/*    font-style: normal;*/
/*    font-weight: 700;*/
/*    src: url('./NotoSerifKRBold.woff2') format('woff2')*/
/*}*/

/*@font-face {*/
/*    font-family: 'Noto Serif KR';*/
/*    font-style: normal;*/
/*    font-weight: 900;*/
/*    src: url('./NotoSerifKRBlack.woff2') format('woff2')*/
/*}*/

/* 스포카 한 네오(Sans Serif)--------------------------------------------------------------------------------*/
@font-face {
    font-family: 'Spoqa Han Sans Neo';
    font-style: normal;
    font-weight: 100;
    src: url('./SpoqaHanSansNeo-Thin.woff2') format('woff2')
}

@font-face {
    font-family: 'Spoqa Han Sans Neo';
    font-style: normal;
    font-weight: 300;
    src: url('./SpoqaHanSansNeo-Light.woff2') format('woff2')
}

@font-face {
    font-family: 'Spoqa Han Sans Neo';
    font-style: normal;
    font-weight: 400;
    src: url('./SpoqaHanSansNeo-Regular.woff2') format('woff2')
}

@font-face {
    font-family: 'Spoqa Han Sans Neo';
    font-style: normal;
    font-weight: 500;
    src: url('./SpoqaHanSansNeo-Medium.woff2') format('woff2')
}

@font-face {
    font-family: 'Spoqa Han Sans Neo';
    font-style: normal;
    font-weight: 600;
    src: url('./SpoqaHanSansNeo-Bold.woff2') format('woff2')
}

/* KievitOT(Serif)--------------------------------------------------------------------------------*/
@font-face {
    font-family: 'KievitOT';
    font-style: normal;
    font-weight: 100;
    src: url('./KievitOT-ExtraLightItalic.woff2') format('woff2')
}

@font-face {
    font-family: 'KievitOT';
    font-style: normal;
    font-weight: 300;
    src: url('./KievitOT-ThinItalic.woff2') format('woff2')
}

@font-face {
    font-family: 'KievitOT';
    font-style: normal;
    font-weight: 400;
    src: url('./KievitOT-Italic.woff2') format('woff2')
}

@font-face {
    font-family: 'KievitOT';
    font-style: normal;
    font-weight: 600;
    src: url('./KievitOT-BoldItalic.woff2') format('woff2'),
    url('./KievitOT-BoldItalic.woff') format('woff')
}

@font-face {
    font-family: 'KievitOT';
    font-style: normal;
    font-weight: 700;
    src: url('./KievitOT-BlackItalic.woff2') format('woff2'),
    url('./KievitOT-BlackItalic.woff') format('woff')
}


/* NEXON_Lv1_Gothic()--------------------------------------------------------------------------------*/
@font-face {
    font-family: 'NEXON Lv1 Gothic';
    font-style: normal;
    font-weight: 200;
    src: url('./NEXON_Lv1_Gothic_Light.woff') format('woff')
}

@font-face {
    font-family: 'NEXON Lv1 Gothic';
    font-style: normal;
    font-weight: 400;
    src: url('./NEXON_Lv1_Gothic_Regular.woff') format('woff')
}

@font-face {
    font-family: 'NEXON Lv1 Gothic';
    font-style: normal;
    font-weight: 700;
    src: url('./NEXON_Lv1_Gothic_Bold.woff') format('woff')
}


/* Tway Air()--------------------------------------------------------------------------------*/
@font-face {
    font-family: 'Tway Air';
    font-style: normal;
    font-weight: 400;
    src: url('./tway_air.woff') format('woff')
}

/* YoonDaehan()--------------------------------------------------------------------------------*/
@font-face {
    font-family: 'YoonDaehan';
    font-style: normal;
    font-weight: 400;
    src: url('./YoonDaehanR.woff') format('woff')
}

/* Eland--------------------------------------------------------------------------------*/
@font-face {
    font-family: 'Eland Choice';
    font-style: normal;
    font-weight: 300;
    src: url('./eland_choice_l.woff2') format('woff2')
}

@font-face {
    font-family: 'Eland Choice';
    font-style: normal;
    font-weight: 400;
    src: url('./eland_choice_m.woff2') format('woff2')
}

@font-face {
    font-family: 'Eland Choice';
    font-style: normal;
    font-weight: 700;
    src: url('./eland_choice_b.woff2') format('woff2')
}

@font-face {
    font-family: 'Eland Nice';
    font-style: normal;
    font-weight: 900;
    src: url('./eland_nice.woff2') format('woff2')
}


/* SCCore Dream(Sans)--------------------------------------------------------------------------------*/
@font-face {
    font-family: 'SCore Dream';
    font-style: normal;
    font-weight: 100;
    src: url('./SCoreDream1.woff2') format('woff2')
}

@font-face {
    font-family: 'SCore Dream';
    font-style: normal;
    font-weight: 200;
    src: url('./SCoreDream2.woff2') format('woff2')
}

@font-face {
    font-family: 'SCore Dream';
    font-style: normal;
    font-weight: 300;
    src: url('./SCoreDream3.woff2') format('woff2')
}

@font-face {
    font-family: 'SCore Dream';
    font-style: normal;
    font-weight: 400;
    src: url('./SCoreDream4.woff2') format('woff2')
}

@font-face {
    font-family: 'SCore Dream';
    font-style: normal;
    font-weight: 500;
    src: url('./SCoreDream5.woff2') format('woff2')
}

@font-face {
    font-family: 'SCore Dream';
    font-style: normal;
    font-weight: 600;
    src: url('./SCoreDream6.woff2') format('woff2')
}

@font-face {
    font-family: 'SCore Dream';
    font-style: normal;
    font-weight: 700;
    src: url('./SCoreDream7.woff2') format('woff2')
}

@font-face {
    font-family: 'SCore Dream';
    font-style: normal;
    font-weight: 800;
    src: url('./SCoreDream8.woff2') format('woff2')
}

@font-face {
    font-family: 'SCore Dream';
    font-style: normal;
    font-weight: 900;
    src: url('./SCoreDream9.woff2') format('woff2')
}

/*// 폰트의 굵기가 특별히 의미가 없음*/
/*@font-face {*/
/*    font-family: 'YoonDaehan Bold';*/
/*    font-style: normal;*/
/*    font-weight: 700;*/
/*    src: local('YoonDaehan Bold'),*/
/*    url('./YoonDaehanB.woff') format('woff')*/
/*}*/

/* Cookie(Sans)--------------------------------------------------------------------------------*/
/* https://fonts.google.com/specimen/Cookie?query=cookie#standard-styles */
@font-face {
    font-family: 'Cookie';
    font-style: normal;
    font-weight: 400;
    src: url('./Cookie-Regular.woff') format('woff')
}

/* CookieRun(Sans)--------------------------------------------------------------------------------*/
@font-face {
    font-family: 'CookieRun Bold';
    font-style: normal;
    font-weight: 700;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/CookieRunOTF-Bold00.woff') format('woff');
}

/* Sansita(Sans)--------------------------------------------------------------------------------*/
/* https://fonts.google.com/specimen/Sansita?query=sansita#glyphs */
@font-face {
    font-family: 'Sansita';
    font-style: normal;
    font-weight: 400;
    src: url('./Sansita-Regular.woff') format('woff')
}

@font-face {
    font-family: 'Sansita';
    font-style: normal;
    font-weight: 700;
    src: url('./Sansita-Bold.woff') format('woff')
}

@font-face {
    font-family: 'Aggro';
    font-style: normal;
    font-weight: 300;
    src: url('./sb_aggro_l.woff2') format('woff2')
}

@font-face {
    font-family: 'Aggro';
    font-style: normal;
    font-weight: 600;
    src: url('./sb_aggro_m.woff2') format('woff2')
}

@font-face {
    font-family: 'Aggro';
    font-style: normal;
    font-weight: 700;
    src: url('./sb_aggro_b.woff2') format('woff2')
}

/* Reko(Sans Serif)--------------------------------------------------------------------------------*/
/* 레코체 https://noonnu.cc/font_page/394 */
@font-face {
    font-family: 'reko';
    font-style: normal;
    font-weight: 700;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Recipekorea.woff') format('woff');
}

/* Nexen Tire(Sans Serif)--------------------------------------------------------------------------------*/
@font-face {
    font-family: 'Nexen Tire';
    font-style: normal;
    font-weight: 400;
    src: url('./NEXEN_TIRE_Regular.woff2') format('woff2')
}

@font-face {
    font-family: 'Nexen Tire';
    font-style: normal;
    font-weight: 700;
    src: url('./NEXEN_TIRE_Bold.woff2') format('woff2')
}

/* MapoBackpacking(Serif)--------------------------------------------------------------------------------*/
/* 마포 배낭 여행 https://noonnu.cc/font_page/378 */
@font-face {
    font-family: 'MapoBackpacking';
    font-style: normal;
    font-weight: 400;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoBackpackingA.woff') format('woff');
}

/* jalnan(Serif)--------------------------------------------------------------------------------*/
/* 잘난체 https://noonnu.cc/font_page/115 */
@font-face {
    font-family: 'jalnan';
    font-style: normal;
    font-weight: 400;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
}

/* TmonMonsori(Serif)--------------------------------------------------------------------------------*/
/* 몬소리체 https://noonnu.cc/font_page/72 */
/* 폰트명: TmonMonsori */
@font-face {
    font-family: 'TmonMonsori Bold';
    font-style: normal;
    font-weight: normal;
    src: url('./tmonsori_bold.woff2') format('woff2')

}

/* Busan(Sans Serif)--------------------------------------------------------------------------------*/
/* 부산체 https://noonnu.cc/font_page/29 */
@font-face {
    font-family: 'Busan';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/korean-webfonts/1/orgs/govs/busan/Busan/Busan.woff2') format('woff2')
}

.busan * {
    font-family: 'Busan', sans-serif;
}


/* BinggraeBold(Sans Serif)--------------------------------------------------------------------------------*/
/* 빙그레11 Bold https://noonnu.cc/font_page/6 */
@font-face {
    font-family: 'Binggrae';
    font-style: normal;
    font-weight: 700;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae-Bold.woff') format('woff');
}

/* BMJUA(Sans Serif)--------------------------------------------------------------------------------*/
/* 배민 주아체 https://noonnu.cc/font_page/53 */
@font-face {
    font-family: 'BMJUA';
    font-style: normal;
    font-weight: 400;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
}

/* BMEULJIRO()--------------------------------------------------------------------------------*/
/* 배민 을지로 https://noonnu.cc/font_page/321 */
@font-face {
    font-family: 'BMEULJIRO';
    font-style: normal;
    font-weight: 400;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/BMEULJIRO.woff') format('woff');
}

/* IropkeBatang()--------------------------------------------------------------------------------*/
/* 이롭게 바탕체  https://noonnu.cc/font_page/4 */
@font-face {
    font-family: 'IropkeBatang';
    font-style: normal;
    font-weight: 400;
    src: url('./IropkeBatangM.woff') format('woff')
}

@font-face {
    font-family: 'VintageRegular';
    font-style: normal;
    font-weight: 600;
    src: url('./Vintage-Regular.woff') format('woff')
}

@font-face {
    font-family: 'VintageOutline';
    font-style: normal;
    font-weight: 400;
    src: url('./Vintage-Outline.woff') format('woff')
}


/* jejuhallasan()--------------------------------------------------------------------------------*/
/* 제주 한라산체 https://noonnu.cc/font_page/51 */
@font-face {
    font-family: 'Jeju Hallasan';
    font-style: normal;
    font-weight: 700;
    src: url('./JejuHallasan.woff2') format('woff2')
}

/* LotteMartHappy()--------------------------------------------------------------------------------*/
/* 롯데마트 행복체 https://noonnu.cc/font_page/288 */
/* 폰트명: LotteMartHappy */
@font-face {
    font-family: 'LotteMartHappy';
    font-style: normal;
    font-weight: 700;
    src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyBold.woff2') format('woff2'),
    url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyBold.woff') format('woff');
}

.lottemarthappy * {
    font-family: 'LotteMartHappy', sans-serif;
}

/* Katuri()--------------------------------------------------------------------------------*/
/* 엄마 까투리체 https://noonnu.cc/font_page/397 */
@font-face {
    font-family: 'Katuri';
    font-style: normal;
    font-weight: 400;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_13@1.0/Katuri.woff') format('woff');
}

/* paybooc()--------------------------------------------------------------------------------*/
/* 페이북 글꼴 https://noonnu.cc/font_page/452 */

@font-face {
    font-family: 'paybooc';
    font-style: normal;
    font-weight: 400;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Medium.woff') format('woff');
}

@font-face {
    font-family: 'paybooc';
    font-style: normal;
    font-weight: 700;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Bold.woff') format('woff');
}

/* OneMobile()--------------------------------------------------------------------------------*/
@font-face {
    font-family: 'OneMobile POP';
    font-style: normal;
    font-weight: 600;
    src: url('./ONE-Mobile-POP.woff2') format('woff2')
}

@font-face {
    font-family: 'OneMobile Regular';
    font-style: normal;
    font-weight: 400;
    src: url('./ONE-Mobile-Regular.woff2') format('woff2')
}

@font-face {
    font-family: 'OneMobile Title';
    font-style: normal;
    font-weight: 600;
    src: url('./ONE-Mobile-Title.woff2') format('woff2')
}

/* Maplestory()--------------------------------------------------------------------------------*/
@font-face {
    font-family: 'Maple Story';
    font-style: normal;
    font-weight: 200;
    src: url('./Maplestory_Light.woff') format('woff')
}

@font-face {
    font-family: 'Maple Story';
    font-style: normal;
    font-weight: 700;
    src: url('./Maplestory_Bold.woff') format('woff')
}

@font-face {
    font-family: 'VitroCore';
    font-style: normal;
    font-weight: normal;
    src: url('./VitroCore.woff2') format('woff2')
}

@font-face {
    font-family: 'Gmarket Sans';
    font-style: normal;
    font-weight: 300;
    src: url('./GmarketSansTTFLight.woff2') format('woff2')
}

@font-face {
    font-family: 'Gmarket Sans';
    font-style: normal;
    font-weight: 500;
    src: url('./GmarketSansTTFMedium.woff2') format('woff2')
}

@font-face {
    font-family: 'Gmarket Sans';
    font-style: normal;
    font-weight: 700;
    src: url('./GmarketSansTTFBold.woff2') format('woff2')
}

